// an icon of climbing men by Alec Dhuse was used
// Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>

$font-path:  "../fonts/";
$font-prefix: "am4gpy";

@font-face {
  font-family: 'custom_iconfont';
  src:url('#{$font-path}icomoon.eot?#{$font-prefix}');
  src:url('#{$font-path}icomoon.eot?#iefix#{$font-prefix}') format('embedded-opentype'),
  url('#{$font-path}icomoon.ttf?#{$font-prefix}') format('truetype'),
  url('#{$font-path}icomoon.woff?#{$font-prefix}') format('woff'),
  url('#{$font-path}icomoon.svg?#{$font-prefix}#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'custom_iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-travelling:before {
  content: "\e907";
}
.icon-climbing:before {
  content: "\e906";
}
.icon-study:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-github:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-xing:before {
  content: "\ead4";
}
