/* Intro section */
#intro {
  grid-area: intro;
  display: grid;
  grid-column-gap: 10%;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto 3rem 1fr;

  color: $white;

  a {
    color: $white;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 100%;
    grid-template-rows: auto 3rem auto 3rem 1fr;
  }

  // avatar
  .avatar {
    grid-row: 1;
    grid-column: 1 / 2;
    justify-self: end;

    background-image: url(#{$image-path}avatar.png);
    border: 10px solid _palette(main-yellow);
    @include border-radius(50%);
    width: 250px;
    height: 250px;
    @include background-size(cover);
    background-position: center;

    @include media-breakpoint-down(sm) {
      width: 200px;
      height: 200px;
    }

    @include media-breakpoint-down(xs) {
      grid-column: 1;
      grid-row: 3;
      justify-self: center;
    }
  }

  .description {
    grid-row: 1;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: left;

    text-transform: uppercase;
    letter-spacing: 1.1px;
    text-align: center;

    h1 {
      font-size: 1.3rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      margin: 10px 0 0;
    }

    hr {
      width: 50%;
      margin: 20px auto;
    }

    @include media-breakpoint-down(xs) {
      grid-column: 1;
      grid-row: 1;
      justify-self: center;
    }
  }

  .button {
    grid-row: 3;
    grid-column: 1 / 3;
    justify-self: center;

    max-width: 200px;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    border: 2px solid $white;
    @include transition(all .5s ease);

    &:hover {
      background: $white;
      color: _palette(main-blue);
      text-decoration: none;
      border-color: _palette(main-blue);
    }

    @include media-breakpoint-down(xs) {
      grid-column: 1;
      grid-row: 5;
    }
  }
}
