/* Nav */
$value: 100px;

#nav {
	grid-area: navigation;
	position: relative;
	width: 100%;
	z-index: 100;
	text-align: center;
	padding: 0 0 6rem;

	ul {
		li {
			display: inline-block;
		}

		a {
			color: $white;
			@include transition(color .5s ease);

			&:hover {
				text-decoration: none;
			}
		}

		&.menu {
			text-transform: uppercase;
    	position: fixed;
			left: 0;
			right: 0;
			@include transition(background .5s ease);

			&.fixed {
				background: rgba(_palette(dark-blue), 0.75);
			}

			li {
				padding: 1rem 0.9rem 0.8rem;
			}

			a {
				display: block;
				font-size: 0.8rem;

				@include media-breakpoint-down(xs) {
					font-size: 1rem;
				}

				&:hover, &.active {
					color: _palette(main-yellow);
				}
			}
		}

		&.socials {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 18px;

			li {
				position: relative;

				a {
					display: block;
					padding: 5px;
				}

				&:after {
					border: 1px solid $white;
					content: '';
					position: absolute;
					z-index: -1;
					width: 22px;
					height: 22px;
					left: 2px;
					top: 3px;
					@include transform(rotate(45deg));
					@include transition(background .5s ease);
				}

				&:hover {
					a {
						color: _palette(main-blue);
					}

					&:after {
						background: #fff;
					}
				}
			}

			.label {
				display: none;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 0;
		@include transition (all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55));
		height: 0;
		width: 0;
		right: 0;
		top: 0;
		position: fixed;
		background: rgba(_palette(main-yellow),0.93);
		text-align: left;
		overflow: hidden;
		@include border-radius(50%);
		box-shadow: 0 0 15px -5px #000;

		span.bar {
			position: fixed;
			right: 15px;
			top: 15px;
			height: 40px;
			width: 40px;
			z-index: 10;

			em,
			&:after,
			&:before {
					height: 4px;
					width: 40px;
					@include border-radius(40px);
					background: #fff;
					display: block;
					@include transition(all 0.4s ease);
			}

			&:after,
			&:before {
				content: '';
			}

			em {
				margin: 10px 0;
			}
		}

		ul.menu {
			background: none !important;
			position: relative;
			left: inherit;
			top: 0;
			margin: 115px 0 5px 50px;

			li {
				display: block;
				letter-spacing: 1px;
				padding: 5px 0;

				a {
					display: inline;
				}
			}
		}

		ul.socials {
			position: relative;
			text-align: center;
		}

		&.openned {
			width: 370px;
			height: 370px;
			top: -$value;
			right: -$value;

			span.bar:before, span.bar:after{
				z-index: 100;
				@include transform (rotate(45deg));
			}

			span.bar:before{
				@include transform (rotate(45deg) translateY(10px) translateX(10px));
			}

			span.bar > em{
				opacity: 0;
			}

			li {
				margin-right: 0;
			}

			span.bar:after{
				@include transform (rotate(-45deg) translateY(-10px) translateX(10px));
			}
		}
	}

}
